.kk-app {
    height: 100vh;

    .kk-main-title {
        font-size: 30px;
    }

    background-color: skyblue;


    .kk-button-group {
        margin: 20px 0 20px 0;
    }

    .kk-spinner-wrapper {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .kk-backdrop {
        position: absolute;
        background-color: black;
        height: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.5;
    }
}